@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@font-face {
    font-family: 'Valorant';
    src: url(Valorant\ Font.ttf);
}

/*--------------------------
Typical device breakpoints
--------------------------
Pequenas telas : até 600px
celular : de 600px até 768px
Tablet : 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

:root {
    --font1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 0.8em;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

/*img#dj01 {
    width: 100px;
    height: 500px;
    background-image: url(../Imagens/pexels-yan-krukov-9005454.jpg);
    background-size: cover;
    display: block;
    transform: translateX(-100px);
}*/

header {
    background-color: black;
    height: 100px;
    padding-top: 50px;
    font-variant: small-caps;
    font-family: 'Valorant';
    font-size: 8vw;
    color: white;
    text-align: center;
    text-shadow: 5px 10px 7px rgba(255, 255, 255, 0.767);
}

header > p {
    padding-bottom: 50px;
    font-size: 2vw;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5em;
    padding-left: 50px;
    font-family: var(--font3);
    font-size: 3.5vw;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagen {
    background-color: rgb(138, 138, 138);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.603);
    background-size: cover;
    background-attachment: fixed;
}

section > p {
    padding-bottom: 2em;
}

section.imagen > p#p01 {
    background-color: rgba(0, 0, 0, 0.247);
}

section.imagen > p {
    background-color: rgba(0, 0, 0, 0.322);
    display: inline-block;
    padding: 10px;
    text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.425);
    border-radius: 15px 15px;
}

section#img01 {
    background-image: url('../imagens/background01.jpg');
    background-position: center right;
    height: 300px;
}

section#img02 {
    background-image: url('../imagens/background02.jpg');
    background-position: center right;
    height: 300px;
}

section#redes-sociais img {
    width: 40px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
    background-size: cover;
}

section#redes-sociais img:hover {
    border: 2px solid white;
    transform: translate(-6px, -6px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.596);
    transition: transform .6s;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 1.2em;
}